name = "flick-soccer"
main = "src/index.js"
compatibility_date = "2025-10-30"

# 替换为你的 Cloudflare Account ID (在 Dashbord 右侧可以找到)
account_id = "d548e899f5e693a32d057535a9134e70"

# D1 数据库绑定配置
[[d1_databases]]
binding = "DB" # 代码中通过 env.DB 访问
database_name = "flicksoccer-db"
database_id = "ac1adcc6-d03c-4091-a906-2399beb9af2c" # 运行 wrangler d1 create flicksoccer-db 后生成的 ID

# --- Durable Objects 配置 ---
[durable_objects]
bindings = [
  { name = "GAME_ROOM", class_name = "GameRoom" }
]

# --- 迁移规则 (修复版) ---
# Cloudflare 免费版要求 DO 使用 SQLite 后端
[[migrations]]
tag = "v1"
new_sqlite_classes = ["GameRoom"]

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1

# 环境变量 (AppID 和 Secret)
# 为了安全，建议生产环境使用 `wrangler secret put` 设置密钥
# 开发测试可以直接写在这里
[vars]
WX_APP_ID = "wxbb12178265bc883c"
WX_APP_SECRET = "0a61baa8d8274a5b8e81be80fac76ba2"
DY_APP_ID = "tt4ace3c73d4ac0c4902"
DY_APP_SECRET = "04891e29900176e8722a675d539787a572711e07"

# 允许跨域
[dev]
port = 8787